In [44]:
#教学笔记：Series and Dataframe

In [45]:
#Series
import numpy as np
import pandas as pd

#Creating one (3 ways)
data = ['usa','china','canada','france']
label = ['a','b','c','d']
dic = {'a':1,'b':2}
f1 = pd.Series(data)
f2 = pd.Series(data,label)
f3 = pd.Series(dic)
print(f1,f2,f3)

0       usa
1     china
2    canada
3    france
dtype: object a       usa
b     china
c    canada
d    france
dtype: object a    1
b    2
dtype: int64

In [46]:
#Using Index
f1 = pd.Series([22,33,44,55],index=['a','b','c','d'])
f2 = pd.Series([33,33,44,22],index=['a','b','c','d'])
print(f1)
print(f1['a'])
print(f1+f2)

a    22
b    33
c    44
d    55
dtype: int64
22
a    55
b    66
c    88
d    77
dtype: int64

In [47]:
#Dataframe
from numpy.random import randn
np.random.seed(101)

#创建
df = pd.DataFrame(randn(3,4),['a','b','c'],['w','x','y','z'])
print(df)
print(df['w']) #df['w'] itself is a panda series
print(df[['w','y']])  #specific columns

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
a    2.706850
b    0.651118
c   -2.018168
Name: w, dtype: float64
          w         y
a  2.706850  0.907969
b  0.651118 -0.848077
c -2.018168  0.528813

In [48]:
#编辑
df['new'] = df['x'] + df['z'] - df['y']
print(df)
#若为0则为row，而非column；同时设定inplace才可删除
df.drop('x',axis=1,inplace=True)  
print(df)

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  0.223989
b  0.651118 -0.319318 -0.848077  0.605965  1.134724
c -2.018168  0.740122  0.528813 -0.589001 -0.377692
          w         y         z       new
a  2.706850  0.907969  0.503826  0.223989
b  0.651118 -0.848077  0.605965  1.134724
c -2.018168  0.528813 -0.589001 -0.377692

In [49]:
#提取数据
df.shape
#提取其中一行，也是Series(2 ways)
print(df.loc['a'])
print(df.iloc[2]) #第三行

df.loc[['b','a'],['y','z']] #某几个精确数据，左行右列

w      2.706850
y      0.907969
z      0.503826
new    0.223989
Name: a, dtype: float64
w     -2.018168
y      0.528813
z     -0.589001
new   -0.377692
Name: c, dtype: float64

          y         z
b -0.848077  0.605965
a  0.907969  0.503826

In [56]:
#df中的数据选择，判断(single conditions)
booldf = df > 0
print(booldf)
print(df[booldf])  #使得非自然数变成null

df['w'] > 0
print(df[df['w']>0]) #删除w列中的非自然数
print(df[df['w']>0][['y','z']])  #找到y和z列中符合上面条件的数据

df[(df['w']>0) & (df['z']<1)]   #multiple constraints

       w      y      z    new
a   True   True   True   True
b   True  False   True   True
c  False   True  False  False
          w         y         z       new
a  2.706850  0.907969  0.503826  0.223989
b  0.651118       NaN  0.605965  1.134724
c       NaN  0.528813       NaN       NaN
          w         y         z       new
a  2.706850  0.907969  0.503826  0.223989
b  0.651118 -0.848077  0.605965  1.134724
          y         z
a  0.907969  0.503826
b -0.848077  0.605965

          w         y         z       new
a  2.706850  0.907969  0.503826  0.223989
b  0.651118 -0.848077  0.605965  1.134724

In [64]:
df.reset_index()   #加入新列index (代表原来的abcd)
newindex = 'AA JA FG'.split()
df['parts'] = newindex
df.set_index('parts') #指定列作为index

              w         y         z       new
parts
AA     2.706850  0.907969  0.503826  0.223989
JA     0.651118 -0.848077  0.605965  1.134724
FG    -2.018168  0.528813 -0.589001 -0.377692

In [70]:
#Index levels (多层)
#用数组创造一个dataframe
index = list(zip(['A1','A1','A1','A2','A2','A2'],[1,2,3,1,2,3]))
index = pd.MultiIndex.from_tuples(index)  #从数组创建multiindex

df = pd.DataFrame(randn(6,2),index,['A','B'])
print(df)

             A         B
A1 1 -1.382920  1.482495
   2  0.961458 -2.141212
   3  0.992573  1.192241
A2 1 -1.046780  1.292765
   2 -1.467514 -0.494095
   3 -0.162535  0.485809

In [76]:
#多维数据的查找
print(df.loc['A1'])
print(df.loc['A1'].loc[1]['B'])  

df.index.names = ['Groups','num'] #给A1和A2加上小标题
print(df)

df.xs(1,level='num')  #Cross section 每个num=1的行

            A         B
num
1   -1.382920  1.482495
2    0.961458 -2.141212
3    0.992573  1.192241
1.48249549608345
                   A         B
Groups num
A1     1   -1.382920  1.482495
       2    0.961458 -2.141212
       3    0.992573  1.192241
A2     1   -1.046780  1.292765
       2   -1.467514 -0.494095
       3   -0.162535  0.485809

              A         B
Groups
A1     -1.38292  1.482495
A2     -1.04678  1.292765